service_account_email = "terraform-deployer@project.iam.gserviceaccount.com"
project = "project-id"
region  = "region-id"
zone    = "region-zone"

machine_type  = "machine-type"
image = "image-id"

ip_allow_ssh  = ["192.168.1.100"]
ip_allow_http = ["192.168.1.100/24"]
ip_allow_http_ports = ["4000"]

deploy_router = true
is_production = false
