access_key_id = "ACCESS_KEY_ID"
secret_access_key = "SECRET_ACCESS_KEY"
region  = "region-id"

name = "infernet-deployment"
is_production = false
ip_allow_ssh  = ["192.168.1.100/32"]
ip_allow_http = ["192.168.1.100/24"]
ip_allow_http_from_port = 4000
ip_allow_http_to_port = 4000

router = {
  deploy = true
  zone = "us-east-2a"
  machine_type = "t2.small"
  image = "ami-0b4750268a88e78e0"
}

nodes = {
  "infernet-node-1-key-gpu" = {
    zone         = "us-east-2b"
    machine_type = "p2.xlarge" # GPU instance
    image        = "ami-02b696c88aad79a70",
    has_gpu      = true,
  },
  "infernet-node-2-key-no-gpu" = {
    zone         = "us-east-2b"
    machine_type = "t2.medium"
    image        = "ami-05fb0b8c1424f266b",
    has_gpu      = false,
  },
}
