{
  "log_path": "infernet_node.log",
  "server": {
    "port": 4000
  },
  "chain": {
    "enabled": true,
    "rpc_url": "http://127.0.0.1:8545",
    "trail_head_blocks": 4,
    "wallet": {
      "max_gas_limit": 100000,
      "private_key": "12345s",
      "payment_address": "0x...",
      "allowed_sim_errors": []
    },
    "snapshot_sync": {
      "sleep": 1.5,
      "batch_size": 200
    }
  },
  "docker": {
    "username": "username",
    "password": "password"
  },
  "redis": {
    "host": "redis",
    "port": 6379
  },
  "forward_stats": true,
  "containers": [
    {
      "id": "container-1",
      "image": "org1/image1:tag1",
      "description": "Container 1 description",
      "external": true,
      "port": "4999",
      "allowed_addresses": [],
      "allowed_delegate_addresses": [],
      "allowed_ips": [
        "XX.XX.XX.XXX",
        "XX.XX.XX.XXX"
      ],
      "command": "--bind=0.0.0.0:3000 --workers=2",
      "env": {
        "KEY1": "VALUE1",
        "KEY2": "VALUE2"
      },
      "gpu": false,
      "accepted_payments": {
        "0x0000000000000000000000000000000000000000": 1000000000000000000,
        "0x59F2f1fCfE2474fD5F0b9BA1E73ca90b143Eb8d0": 1000000000000000000
      },
      "generates_proofs": true
    },
    {
      "id": "container-2",
      "image": "org2/image2:tag2",
      "description": "Container 2 description",
      "external": false,
      "port": "4998",
      "allowed_addresses": [],
      "allowed_delegate_addresses": [],
      "allowed_ips": [
        "XX.XX.XX.XXX",
        "XX.XX.XX.XXX"
      ],
      "command": "--bind=0.0.0.0:3000 --workers=2",
      "env": {
        "KEY3": "VALUE3",
        "KEY4": "VALUE4"
      },
      "gpu": true,
      "accepted_payments": {
        "0x0000000000000000000000000000000000000000": 1000000000000000000,
        "0x59F2f1fCfE2474fD5F0b9BA1E73ca90b143Eb8d0": 1000000000000000000
      },
      "generates_proofs": false
    }
  ]
}
